@charset "UTF-8";

/*Обнуление некоторых стандартных стилей CSS браузера*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------------------------------------*/

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Italic.woff") format("woff"), url("../fonts/OpenSans-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBoldItalic.woff") format("woff"), url("../fonts/OpenSans-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Light.woff") format("woff"), url("../fonts/Raleway-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.container {
  max-width: 1102px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  /* .header__body */
  /* .header__logo */
  /* .header__logo-img */
  /* .header__burger */
  /* .header__menu */
  /* .header__list */
  /* .header__list-item */
  /* .header__link */
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 2;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  position: relative;
  z-index: 3;
}

.header__logo-img {
  max-width: 100%;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list-item {
  margin: 0 0 0 20px;
}

.header__link {
  opacity: 0.69;
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
  font-style: normal;
}

.no-webp .start{
  background: url("../img/Start/start_bg.jpg") 0 0/cover no-repeat; }

.start {
  padding: 180px 0 139px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* .start__inner */
  /* .start__left */
  /* .start__left-logo */
  /* .start__left-img */
  /* .start__left-heading */
  /* .start__left-text */
  /* .start__left-btn */
  /* .start__right */
  /* .start__right-form */
}

.start__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
}

.start__left {
  max-width: 517px;
}

.start__left-logo {
  margin: 0 0 33px 0;
}

.start__left-img {
  max-width: 100%;
}

.start__left-heading {
  font-family: "Raleway",sans-serif;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  position: relative;
  margin: 0 0 80px 0;
}

.start__left-heading:after {
  content: '';
  width: 64px;
  height: 2px;
  background: #ffffff;
  display: block;
  bottom: -40px;
  position: absolute;
}

.start__left-text {
  opacity: 0.8;
  font-family: 'Raleway',sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 300;
  color: #ffffff;
  margin: 0 0 44px 0;
}

.start__right {
  max-width: 360px;
}

.download-btn {
  width: 135px;
  height: 42px;
  border: 2px solid #ffffff;
  background: transparent;
  font-family: 'OpenSans', sans-serif;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.download-btn:hover {
  background: #ffffff;
  color: #000000;
}

.download-btn:active {
  background: #F48A13;
  color: #ffffff;
  border: none;
}

.form {
  max-width: 360px;
  /* .form__top */
  /* .form__heading */
  /* .form__heading-lightword */
  /* .form__input */
  /* .form__btn */
}

.form__top {
  background: #ffffff;
  padding: 18px 56px 49px 52px;
}

.form__heading {
  font-family: 'OpenSans', sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  color: #333333;
  text-align: center;
  margin: 0 0 44px 0;
}

.form__heading-lightword {
  color: #ff8b38;
}

.form__input {
  display: block;
  position: relative;
  width: 285px;
  height: 31px;
  padding: 10px 0px 10px;
  font-family: 'OpenSans',sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #757575;
}

.form__input:nth-child(2) {
  margin: 0 0 36px 0;
}

.form__input:nth-child(3) {
  margin: 0 0 47px 0;
}

.form__btn {
  width: 100%;
  height: 54px;
  background: #ff9b51;
  font-family: 'OpenSans',sans-serif;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
  -webkit-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

.form__btn:hover {
  background: #000000;
  color: #ff9b51;
  -webkit-transform: scale(105%, 105%);
      -ms-transform: scale(105%, 105%);
          transform: scale(105%, 105%);
  font-size: 20px;
}

@media (max-width: 1102px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 992px) and (orientation: portrait) {
  .start {
    padding: 21% 0 12%;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    /* .start__inner */
    /* .start__left-logo */
    /* .start__left-heading */
    /* .start__left-text */
    /* .start__left-btn */
  }

  .start__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .start__left-logo {
    text-align: center;
  }

  .start__left-heading {
    font-size: calc(1vw + 1.6em);
    text-align: center;
    margin: 0 0 60px 0;
  }

  .start__left-heading:after {
    bottom: -30px;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
  }

  .start__left-text {
    text-align: center;
    font-size: calc(1vw + 0.7em);
  }

  .start__left-btn {
    display: block;
    margin: 0 auto 30px;
  }

  .start .form {
    /* .form__top */
    /* .form__heading */
    /* .form__input */
  }

  .start .form__top {
    background: #ffffff;
    padding: 5% 56px 5% 52px;
  }

  .start .form__heading {
    margin: 0 0 44px 0;
  }

  .start .form__input:nth-child(2) {
    margin: 0 0 36px 0;
  }

  .start .form__input:nth-child(3) {
    margin: 0 0 36px 0;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }

  body.lock {
    overflow: hidden;
  }

  .header__body {
    height: 50px;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    background: #ffffff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    background: #ffffff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: black;
    padding: 70px 10px 20px 10px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
  }

  .header__list-item {
    margin: 0 0 20px 0;
  }

  .header__link {
    font-size: 24px;
  }

  .start {
    /* .start__inner */
    /* .start__left-text */
  }

  .start__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .start__left-text {
    display: none;
  }
}

@media (max-width: 400px) and (orientation: portrait) {
  .start {
    /* .start__left-logo */
    /* .start__left-heading */
  }

  .start__left-logo {
    margin: 0 0 20px 0;
  }

  .start__left-heading {
    font-size: 16px;
    margin: 0 0 40px 0;
  }

  .start__left-heading:after {
    bottom: -20px;
  }

  .start .form {
    max-width: 280px;
    /* .form__top */
    /* .form__heading */
    /* .form__input */
    /* .form__btn */
  }

  .start .form__top {
    padding: 18px 56px 38px 52px;
  }

  .start .form__heading {
    font-size: 13px;
    margin: 0 0 20px 0;
  }

  .start .form__input {
    width: 190px;
    height: 31px;
    padding: 10px 0px 10px 0;
    font-size: 14px;
  }

  .start .form__input:nth-child(2) {
    margin: 0 0 10px 0;
  }

  .start .form__input:nth-child(3) {
    margin: 0 0 10px 0;
  }

  .start .form__btn {
    width: 100%;
    height: 54px;
    background: #ff9b51;
    font-family: 'OpenSans',sans-serif;
    font-size: 20px;
    -webkit-transition: all 0.1s ease 0s;
    -o-transition: all 0.1s ease 0s;
    transition: all 0.1s ease 0s;
  }

  .start .form__btn:hover {
    background: #000000;
    color: #ff9b51;
    -webkit-transform: scale(105%, 105%);
        -ms-transform: scale(105%, 105%);
            transform: scale(105%, 105%);
    font-size: 20px;
  }
}

.webp .start{ background: url(../img/Start/start_bg.webp) 0 0/cover no-repeat; }